/* CAROUSEL GALLERY */

#carousel {
    background-color: #0000003b;
    height: 100%;
}

.carousel-control-next, .carousel-control-prev {
    width: 4%;
}

#carousel .multi-items-carousel {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    #carousel {
        height: auto;
        font-size: 80%;
    }
}